@page "/posts/{url}"
@inject BlazorBlog.Client.Services.IBlogService BlogService

@if (CurrentPost == null)
{
    <span>Getting that blog post from the service...</span>
}
else
{
    <div class="post-img" style="background-image: url('@(CurrentPost.Image ?? placeholderImage)');" />

    <h3>@CurrentPost.Title</h3>

    <div>
        @CurrentPost.Content
    </div>
}

@code {
    private BlazorBlog.Shared.BlogPost CurrentPost;

    [Parameter]
    public string Url { get; set; }

    string placeholderImage = "https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.thebalancecareers.com%2Fcashier-interview-questions-2061432&psig=AOvVaw3WKdYKbpNiPBBCRKqTEunJ&ust=1640610430363000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCNDruaLEgfUCFQAAAAAdAAAAABAD";

    protected override async Task OnInitializedAsync()
    {
        CurrentPost = await BlogService.GetBlogPostByUrl(Url);
    }
}
