@using BlazorBlog.Shared
@inject BlazorBlog.Client.Services.IBlogService BlogService

@foreach (var post in Posts)
{
    <div style="margin: 20px;">
        <div>
            <img src="@post.Image" width="200"/>
        </div>
        <div>
            <h3>@post.Title</h3>
        </div>
        <div>
            @post.Description
        </div>
        <div>
            <a href="/posts/@post.Url">Read more...</a>
        </div>
    </div>
}


@code {
    private List<BlogPost> Posts = new List<BlogPost>();

    protected override async Task OnInitializedAsync()
    {
        Posts = await BlogService.GetBlogPosts();
    }
}
