@using BlazorBlog.Shared
@inject BlazorBlog.Client.Services.IBlogService BlogService

@foreach (var post in Posts)
{
    <div class="card my-4">
        <div class="card-img" style="background-image: url('@(post.Image ?? placeholderImage)');"></div>
        <div class="card-body">
            <h5 class="card-title">@post.Title</h5>
            <p class="card-text">@post.Description</p>
            <p class="card-text"><small class="text-muted">@post.DateCreated.ToLongDateString()</small></p>
            <a href="/posts/@post.Url" class="btn btn-primary">Read more...</a>
        </div>
    </div>
}


@code {
    private List<BlogPost> Posts = new List<BlogPost>();

    string placeholderImage = "https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.thebalancecareers.com%2Fcashier-interview-questions-2061432&psig=AOvVaw3WKdYKbpNiPBBCRKqTEunJ&ust=1640610430363000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCNDruaLEgfUCFQAAAAAdAAAAABAD  ";

    protected override async Task OnInitializedAsync()
    {
        Posts = await BlogService.GetBlogPosts();
    }
}
