<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="">JOB HALL</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="@NavMenuCssClass navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="jobs">
                    <span class="oi oi-plus" aria-hidden="true"></span> JOBS
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="about">
                    <span class="oi oi-person" aria-hidden="true"></span> ABOUT
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="enq">
                    <span class="oi oi-question-mark" aria-hidden="true"></span> ENQURIES
                </NavLink>
            </li>
        </ul>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
